In [10]:
# Task 0.
import pandas as pd
data = pd.read_csv("/content/adult.data.csv")
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
# Task 1. Посчитайте, сколько мужчин и женщин (признак sex) представлено в этом датасете.

data.value_counts(subset = "sex")

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [ ]:
# Task 2. Каков средний возраст мужчин (признак age) по всему датасету?

y = data[['age','sex']].query('sex == "Male"')
mean = y[['age']].mean()
print(mean)

age    39.433547
dtype: float64

In [ ]:
# Task 3. Какова доля граждан Соединенных Штатов (признак native-country)?

filtered_data = data[data['native-country'] == 'United-States']
total_people = len(data)  # Total number of people in the original DataFrame
us_people = len(filtered_data)  # Number of people from the United States
us_percentage = int((us_people / total_people) * 100)
print(us_percentage,"%")

89 %

In [ ]:
# Task 4-5. Рассчитайте среднее значение и
# среднеквадратичное отклонение возраста тех,
# кто получает более 50K в год (признак salary)
# и тех, кто получает менее 50K в год

age_salary = data[["age", "salary"]]

more_than_50 = age_salary.query('salary == ">50K"')
print("The average age of people making more than 50K is:", more_than_50["age"].mean())
print()
print("The standard deviation of their age is:", more_than_50["age"].std())
print()
less_than_50 = age_salary.query('salary == "<=50K"')
print("The average age of people making less than 50K is:",less_than_50["age"].mean())
print()
print("The standard deviation of their age is:",less_than_50["age"].std())

The average age of people making more than 50K is: 44.24984058155847

The standard deviation of their age is: 10.519027719851826

The average age of people making less than 50K is: 36.78373786407767

The standard deviation of their age is: 14.02008849082488

In [ ]:
# Task 6. Правда ли, что люди, которые получают больше 50k,
# имеют минимум высшее образование? (признак education –
# Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

education_salary = data[["education", "salary"]]

more_than_50_2 = education_salary.query('salary == ">50K"')
more_than_50_2.value_counts(normalize=True)*100

education     salary
Bachelors     >50K      28.325469
HS-grad       >50K      21.362071
Some-college  >50K      17.689070
Masters       >50K      12.230583
Prof-school   >50K       5.394720
Assoc-voc     >50K       4.604005
Doctorate     >50K       3.902563
Assoc-acdm    >50K       3.379671
10th          >50K       0.790715
11th          >50K       0.765209
7th-8th       >50K       0.510139
12th          >50K       0.420865
9th           >50K       0.344344
5th-6th       >50K       0.204056
1st-4th       >50K       0.076521
Name: proportion, dtype: float64

In [ ]:
# Everything about Bachelors
have_bachelors = len(education_salary.query('education == "Bachelors"'))
Bachelors_and_more_than_50K = len(more_than_50_2.query('education == "Bachelors"'))
print("There are",have_bachelors, "people with Bachelors,", Bachelors_and_more_than_50K,\
      "people with Bachelors earn more than 50K, which is",int(100*(Bachelors_and_more_than_50K/\
                                                                    have_bachelors)),"%")

print()

# Everything about Prof-school
have_prof_school = len(education_salary.query('education == "Prof-school"'))
Profschool_and_more_than_50K = len(more_than_50_2.query('education == "Prof-school"'))
print("There are",have_prof_school, "people with Prof-school,", Profschool_and_more_than_50K,\
      "people with Prof-school earn more than 50K, which is",int(100*(Profschool_and_more_than_50K/\
                                                                      have_prof_school)),"%")

print()

# Everything about Assoc-acdm

have_assocacdm = len(education_salary.query('education == "Assoc-acdm"'))
Assocacdm_and_more_than_50K = len(more_than_50_2.query('education == "Assoc-acdm"'))
print("There are",have_assocacdm, "people with Assoc-acdm,", Assocacdm_and_more_than_50K,\
      "people with Assoc-acdm earn more than 50K, which is",int(100*(Assocacdm_and_more_than_50K/\
                                                                     have_assocacdm)),"%")

print()

# Everything about Assoc-voc

have_assocvoc = len(education_salary.query('education == "Assoc-voc"'))
Assocvoc_and_more_than_50K = len(more_than_50_2.query('education == "Assoc-voc"'))
print("There are",have_assocvoc, "people with Assoc-voc,", Assocvoc_and_more_than_50K,\
      "people with Assoc-voc earn more than 50K, which is",int(100*(Assocvoc_and_more_than_50K/\
                                                                    have_assocvoc)),"%")
print()

# Everything about Masters

have_masters = len(education_salary.query('education == "Masters"'))
Masters_and_more_than_50K = len(more_than_50_2.query('education == "Masters"'))
print("There are",have_masters, "people with Masters,", Masters_and_more_than_50K,\
      "people with Masters earn more than 50K, which is",int(100*(Masters_and_more_than_50K/\
                                                                  have_masters)),"%")

print()

# Everything about Doctorate

have_doctorate = len(education_salary.query('education == "Doctorate"'))
Doctorate_and_more_than_50K = len(more_than_50_2.query('education == "Doctorate"'))
print("There are",have_doctorate, "people with Doctorate,", Doctorate_and_more_than_50K,\
      "people with Doctorate earn more than 50K, which is",int(100*(Doctorate_and_more_than_50K/\
                                                                    have_doctorate)),"%")

print()

education_plus_50k = len(more_than_50_2.query('education == "Doctorate" or education\
 == "Masters" or education == "Assoc-voc" or education == "Assoc-acdm" or education ==\
  "Prof-school" or education == "Bachelors"'))

highly_educated = have_bachelors + have_prof_school + have_assocacdm + have_assocvoc + have_masters + have_doctorate

print("There are", len(data), "people in the data-set.",highly_educated,"people \
(",int(100*(highly_educated/len(data))),"%) have a higher education. And only",education_plus_50k,\
      "people (",int(100*(education_plus_50k/highly_educated)),"%) with higher education earn more than 50k.")

There are 5355 people with Bachelors, 2221 people with Bachelors earn more than 50K, which is 41 %

There are 576 people with Prof-school, 423 people with Prof-school earn more than 50K, which is 73 %

There are 1067 people with Assoc-acdm, 265 people with Assoc-acdm earn more than 50K, which is 24 %

There are 1382 people with Assoc-voc, 361 people with Assoc-voc earn more than 50K, which is 26 %

There are 1723 people with Masters, 959 people with Masters earn more than 50K, which is 55 %

There are 413 people with Doctorate, 306 people with Doctorate earn more than 50K, which is 74 %

There are 32561 people in the data-set. 10516 people ( 32 %) have a higher education. And only 4535 people ( 43 %) with higher education earn more than 50k.

In [ ]:
# Нет нужды включать в задание. Тут я просто проверяла.
education_salary = data[["education", "salary"]]
education_salary.value_counts("education", normalize=True)*100

education
HS-grad         32.250238
Some-college    22.391818
Bachelors       16.446055
Masters          5.291607
Assoc-voc        4.244341
11th             3.608612
Assoc-acdm       3.276926
10th             2.865391
7th-8th          1.983969
Prof-school      1.768987
9th              1.578576
12th             1.329812
Doctorate        1.268389
5th-6th          1.022696
1st-4th          0.515955
Preschool        0.156629
Name: proportion, dtype: float64

In [ ]:
# Task 7. Выведите статистику возраста для каждой расы
# (признак race) и каждого пола. Используйте groupby и describe.
# Найдите таким образом максимальный возраст мужчин расы Asian-Pac-Islander.

data["age"].describe()

count    32561.000000
mean        38.581647
std         13.640433
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [ ]:
# Группировка дата-сета с помощью метода groupby по признаку sex
gk = data.groupby('sex')

# Применение метода describe на сгруппированом дата-сете.
gk["age"].describe()

          count       mean        std   min   25%   50%   75%   max
sex
Female  10771.0  36.858230  14.013697  17.0  25.0  35.0  46.0  90.0
Male    21790.0  39.433547  13.370630  17.0  29.0  38.0  48.0  90.0

In [ ]:
# Группировка дата-сета с помощью метода groupby по признаку race
gz = data.groupby('race')

# Применение метода describe на сгруппированом дата-сете.
gzg = gz[["age"]].describe()
gzg
print(f"The maximum age of the {gzg.iloc[1,7]}")

# ОСТОРОЖНО - ЗДЕСЬ УКАЗАНА РАЗБИВКА БЕЗ ПОЛА. ТО ЕСТЬ, И ЖЕНЩИНЫ, И МУЖЧИНЫ.

The maximum age of the 90.0

In [ ]:
# Группировка дата-сета с помощью метода groupby по признаку race
gr = data.groupby('race')

# Применение метода describe на сгруппированом дата-сете.
gr[["age"]].describe()

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0


                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

In [ ]:
# Группировка дата-сета с помощью метода groupby по признаку race
gz = data.query('sex == "Male"').groupby('race')

# Применение метода describe на сгруппированом дата-сете.
rc = gz[["age"]].describe()

rc

# А ВОТ ТУТ УЖЕ ЧИСТО ВЫПОЛНЕНО - ИМЕННО МУЖЧИНЫ РАЗБИТЫ ПО РАСАМ

                        age                                                \
                      count       mean        std   min   25%   50%   75%
race
Amer-Indian-Eskimo    192.0  37.208333  12.049563  17.0  28.0  35.0  45.0
Asian-Pac-Islander    693.0  39.073593  12.883944  18.0  29.0  37.0  46.0
Black                1569.0  37.682600  12.882612  17.0  27.0  36.0  46.0
Other                 162.0  34.654321  11.355531  17.0  26.0  32.0  42.0
White               19174.0  39.652498  13.436029  17.0  29.0  38.0  49.0


                     max
race
Amer-Indian-Eskimo  82.0
Asian-Pac-Islander  90.0
Black               90.0
Other               77.0
White               90.0

In [ ]:
print("The maximum age of a man of the Asian-Pac-Islander race is",int(rc.iloc[1,7]))

The maximum age of a man of the Asian-Pac-Islander race is 90

In [ ]:
# Task 8. Среди кого больше доля зарабатывающих много (>50K):
# среди женатых или холостых мужчин (признак marital-status)?
# Женатыми считаем тех, у кого marital-status начинается с Married
# (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

# Переименовываем колонку для удобства

data = data.rename(columns={"marital-status": "marital_status"})

# Ограничиваем сет данных до семейного положения, дохода и пола

men = data[["marital_status", "salary","sex"]].query('sex == "Male"')
print("There are",len(marital_status),"men in this data-set.")

# Ограничиваем дата-сет до тех, кто зарабатывает больше 50K
more_than_50k = men.query('salary == ">50K"')
print("There are",len(more_than_50k),"men that earn more than 50k in this data-set.")

NameError: name 'marital_status' is not defined

In [ ]:
#Узнаём количество женатых мужчин
married_men = men.query('marital_status == "Married-civ-spouse" or marital_status =="Married-spouse-absent" or marital_status == "Married-AF-spouse"')

# Узнаём количество женатых мужчин, зарабатывающих больше 50K
married_men_more_than_50 = married_men.query('salary == ">50K"')


# Узнаём количество неженатых мужчин
not_married_men = men.query('marital_status=="Divorced" or \
marital_status=="Never-married" or marital_status=="Separated" or \
marital_status=="Widowed"')

# Узнаём количество неженатых мужчин, зарабатывающих больше 50K
not_married_men_more_than_50 = not_married_men.query('salary == ">50K"')

print("Количество женатых мужчин:",len(married_men))
print("Количество неженатых мужчин:",len(not_married_men))
print()

print("Количество женатых мужчин, зарабатывающих больше 50K:",len(married_men_more_than_50))
print("Количество неженатых мужчин, зарабатывающих больше 50K:",len(not_married_men_more_than_50))

print()
print("Доля женатых мужчин, зарабатывающих больше 50K:",len(married_men_more_than_50),"/",\
      len(married_men),"=",int(100*(len(married_men_more_than_50)/len(married_men))),"%")
print("Доля неженатых мужчин, зарабатывающих больше 50K:",len(not_married_men_more_than_50),"/",len(not_married_men),\
      "=",int(100*(len(not_married_men_more_than_50)/len(not_married_men))),"%")
print("Таким образом, доля женатых  мужчин, зарабатывающих более 50K, в",44/8,"раз больше, чем доля неженатых мужчин, зарабатывающих более 50K.")

Количество женатых мужчин: 13541
Количество неженатых мужчин: 8249

Количество женатых мужчин, зарабатывающих больше 50K: 5965
Количество неженатых мужчин, зарабатывающих больше 50K: 697

Доля женатых мужчин, зарабатывающих больше 50K: 5965 / 13541 = 44 %
Доля неженатых мужчин, зарабатывающих больше 50K: 697 / 8249 = 8 %
Таким образом, доля женатых  мужчин, зарабатывающих более 50K, в 5.5 раз больше, чем доля неженатых мужчин, зарабатывающих более 50K.

In [ ]:
# Task 9. Какое максимальное число часов человек работает
# в неделю (признак hours-per-week)? Сколько людей работают
# такое количество часов и каков среди них процент зарабатывающих много?

# Переименовываем колонку ради удобства
data = data.rename(columns={"hours-per-week": "hours_per_week"})

# Ищем максимальное значение по колонке
max_value = data['hours_per_week'].max()
print(f"The maximum value in the column is: {max_value}")

The maximum value in the column is: 99

In [ ]:
# Проверяем  максимальное значение по столбику с помощью метода describe()
data["hours_per_week"].describe()

count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000
Name: hours_per_week, dtype: float64

In [ ]:
# Находим всех людей, которые работают 99 часов в неделю
people_who_work_99_hours = data.query('hours_per_week == 99')
len(people_who_work_99_hours)
print(f"There are {len(people_who_work_99_hours)}","people who work 99 hours a week.")

There are 85 people who work 99 hours a week.

In [ ]:
# Просто для справки и удобства
data.value_counts(subset = "hours_per_week")

hours_per_week
40    15217
50     2819
45     1824
60     1475
35     1297
      ...
92        1
94        1
87        1
82        1
74        1
Name: count, Length: 94, dtype: int64

In [ ]:
people_who_work_99_hours_and_earn_more_than_50K = people_who_work_99_hours.query('salary == ">50K"')
len(people_who_work_99_hours_and_earn_more_than_50K)
print(f"Only {len(people_who_work_99_hours_and_earn_more_than_50K)} \
people earn more than 50K out of all {len(people_who_work_99_hours)} \
working 99 hours a week, which is",int(100*(len(people_who_work_99_hours_and_earn_more_than_50K)\
                                            /len(people_who_work_99_hours))),"%.")

Only 25 people earn more than 50K out of all 85 working 99 hours a week, which is 29 %.

In [ ]:
  # Task 10. Посчитайте среднее время работы (hours-per-week)
  # зарабатывающих мало и много (salary) для каждой страны (native-country).

In [ ]:
data.groupby(['native-country', 'salary'])['hours_per_week'].mean().reset_index()

   native-country salary  hours_per_week
0               ?  <=50K       40.164760
1               ?   >50K       45.547945
2        Cambodia  <=50K       41.416667
3        Cambodia   >50K       40.000000
4          Canada  <=50K       37.914634
..            ...    ...             ...
77  United-States   >50K       45.505369
78        Vietnam  <=50K       37.193548
79        Vietnam   >50K       39.200000
80     Yugoslavia  <=50K       41.600000
81     Yugoslavia   >50K       49.500000

[82 rows x 3 columns]

In [ ]:
# Task 11. Сгруппируйте людей по возрастным группам young, adult, retiree, где:
# young соответствует 16-35 лет
# adult - 35-70 лет
# retiree - 70-100 лет

# Прописываем функцию
def f(row):
 if row['age'] >= 70:
  val = 'retiree'
 elif row['age'] >= 35:
  val = 'adult'
 else :
  val = 'young'
 return val

# Применяем полученную функцию
data['AgeGroup'] = data.apply (f, axis=1)

# Смотрим результат
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,AgeGroup
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,adult
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,adult
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,adult
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,adult
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,young
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,young
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,adult
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,adult
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,young
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,adult

Warning: total number of rows (32561) exceeds max_rows (20000). Limiting to first (20000) rows.

In [ ]:
# Task 12-13. Определите количество зарабатывающих >50K в каждой
# из возрастных групп (колонка AgeGroup), а также выведите название
# возрастной группы, в которой чаще зарабатывают больше 50К (>50K).

plus = data.query('salary == ">50K"')

# Всё по категории retirees
retirees = len(data.query('AgeGroup == "retiree"'))
retirees_50 = len(plus.query('AgeGroup == "retiree"'))

# Всё по категории adults
adults = len(data.query('AgeGroup == "adult"'))
adults_50 = len(plus.query('AgeGroup == "adult"'))

# Всё по категории young
young = len(data.query('AgeGroup == "young"'))
young_50 = len(plus.query('AgeGroup == "young"'))


print(f"There are {young} young people in the data-set. {young_50} earn more than 50k, which is {int(100*(young_50/young))} %.")
print()

print(f"There are {adults} adults in the data-set. {adults_50} earn more than 50k, which is {int(100*(adults_50/adults))} %.")
print()

print(f"There are {retirees} retirees in the data-set. {retirees_50} earn more than 50k, which is {int(100*(retirees_50/retirees))} %.")
print()

print("'Adults' category is leading in earning more than 50k, both absolutely and relatively.")

There are 14049 young people in the data-set. 1488 earn more than 50k, which is 10 %.

There are 17883 adults in the data-set. 6240 earn more than 50k, which is 34 %.

There are 629 retirees in the data-set. 113 earn more than 50k, which is 17 %.

'Adults' category is leading in earning more than 50k, both absolutely and relatively.

In [24]:
# Task 14. Сгруппируйте людей по типу занятости (колонка occupation)
# и определите количество людей в каждой группе. После чего напишите
# функцию фильтрации filter_func, которая будет возвращать только те группы,
# в которых средний возраст (колонка age) не больше 40 и в которых все
# работники отрабатывают более 5 часов в неделю (колонка hours-per-week).

data = data.rename(columns={"hours-per-week": "hours_per_week"})

                      age                                                      \
                    count       mean        std   min   25%   50%   75%   max
occupation
?                  1843.0  40.882800  20.336350  17.0  21.0  35.0  61.0  90.0
Adm-clerical       3770.0  36.964456  13.362998  17.0  26.0  35.0  46.0  90.0
Armed-Forces          9.0  30.222222   8.089774  23.0  24.0  29.0  34.0  46.0
Craft-repair       4099.0  39.031471  11.606436  17.0  30.0  38.0  47.0  90.0
Exec-managerial    4066.0  42.169208  11.974548  17.0  33.0  41.0  50.0  90.0
Farming-fishing     994.0  41.211268  15.070283  17.0  29.0  39.0  52.0  90.0
Handlers-cleaners  1370.0  32.165693  12.372635  17.0  23.0  29.0  39.0  90.0
Machine-op-inspct  2002.0  37.715285  12.068266  17.0  28.0  36.0  46.0  90.0
Other-service      3295.0  34.949621  14.521508  17.0  22.0  32.0  45.0  90.0
Priv-house-serv     149.0  41.724832  18.633688  17.0  24.0  40.0  57.0  81.0
Prof-specialty     4140.0  40.517633  12.016676  17.0  31.0  40.0  48.0  90.0
Protective-serv     649.0  38.953775  12.822062  17.0  29.0  36.0  47.0  90.0
Sales              3650.0  37.353973  14.186352  17.0  25.0  35.0  47.0  90.0
Tech-support        928.0  37.022629  11.316594  17.0  28.0  36.0  44.0  73.0
Transport-moving   1597.0  40.197871  12.450792  17.0  30.0  39.0  49.0  90.0

                   fnlwgt                 ... capital-loss          \
                    count           mean  ...          75%     max
occupation                                ...
?                  1843.0  188658.667390  ...          0.0  4356.0
Adm-clerical       3770.0  192043.396286  ...          0.0  3770.0
Armed-Forces          9.0  215425.888889  ...          0.0  1887.0
Craft-repair       4099.0  192132.599658  ...          0.0  3004.0
Exec-managerial    4066.0  184414.012543  ...          0.0  4356.0
Farming-fishing     994.0  170190.176056  ...          0.0  2457.0
Handlers-cleaners  1370.0  204391.006569  ...          0.0  2824.0
Machine-op-inspct  2002.0  195040.877622  ...          0.0  3900.0
Other-service      3295.0  188608.452200  ...          0.0  3770.0
Priv-house-serv     149.0  201107.523490  ...          0.0  1602.0
Prof-specialty     4140.0  185296.613285  ...          0.0  3900.0
Protective-serv     649.0  202039.953775  ...          0.0  2444.0
Sales              3650.0  190885.892055  ...          0.0  2824.0
Tech-support        928.0  192098.301724  ...          0.0  2444.0
Transport-moving   1597.0  190366.355041  ...          0.0  2824.0

                  hours_per_week                                               \
                           count       mean        std  min   25%   50%   75%
occupation
?                         1843.0  31.906131  14.908311  1.0  20.0  36.0  40.0
Adm-clerical              3770.0  37.558355   9.589833  1.0  37.0  40.0  40.0
Armed-Forces                 9.0  40.666667  14.071247  8.0  40.0  40.0  48.0
Craft-repair              4099.0  42.304221   9.052038  1.0  40.0  40.0  45.0
Exec-managerial           4066.0  44.987703  11.109113  1.0  40.0  40.0  50.0
Farming-fishing            994.0  46.989940  17.320156  2.0  40.0  40.0  60.0
Handlers-cleaners         1370.0  37.947445  10.580459  2.0  36.0  40.0  40.0
Machine-op-inspct         2002.0  40.755744   7.592691  1.0  40.0  40.0  40.0
Other-service             3295.0  34.701669  12.706004  1.0  25.0  40.0  40.0
Priv-house-serv            149.0  32.885906  16.184548  4.0  22.0  35.0  40.0
Prof-specialty            4140.0  42.386715  12.536315  1.0  40.0  40.0  50.0
Protective-serv            649.0  42.870570  12.331777  3.0  40.0  40.0  45.0
Sales                     3650.0  40.781096  13.236410  2.0  35.0  40.0  50.0
Tech-support               928.0  39.432112  10.583093  3.0  40.0  40.0  40.0
Transport-moving          1597.0  44.656230  12.721380  5.0  40.0  40.0  50.0


                    max
occupation
?                  99.0
Adm-clerical       80.0
Armed-Forces       60.0
Craft-repair       99.0
Exec-managerial    99.0
Farming-fishing    99.0
Handlers-cleaners  95.0
Machine-op-inspct  96.0
Other-service      99.0
Priv-house-serv    99.0
Prof-specialty     99.0
Protective-serv    99.0
Sales              99.0
Tech-support       99.0
Transport-moving   99.0

[15 rows x 48 columns]

In [32]:
occupation_counts = data.groupby('occupation').size().reset_index(name='counts')

# Define the filter function
def filter_func(group):
    average_age = group['age'].mean()
    all_work_more_than_5_hours = (group['hours_per_week'] > 5).all()
    return average_age <= 40 and all_work_more_than_5_hours

# Apply the filter function to the groups
filtered_groups = data.groupby('occupation').filter(filter_func)

# Display the result
filtered_groups

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours_per_week,native-country,salary
442,24,Federal-gov,191073,HS-grad,9,Never-married,Armed-Forces,Own-child,White,Male,0,0,40,United-States,<=50K
1300,29,Federal-gov,301010,Some-college,10,Never-married,Armed-Forces,Not-in-family,Black,Male,0,0,60,United-States,<=50K
14613,39,Federal-gov,227597,HS-grad,9,Never-married,Armed-Forces,Not-in-family,White,Male,0,0,50,United-States,<=50K
16111,24,Federal-gov,287988,Bachelors,13,Never-married,Armed-Forces,Not-in-family,White,Male,0,0,40,United-States,<=50K
18034,34,Federal-gov,172716,12th,8,Married-civ-spouse,Armed-Forces,Husband,White,Male,0,0,40,United-States,<=50K
18644,23,Federal-gov,163870,Some-college,10,Never-married,Armed-Forces,Other-relative,White,Male,0,0,40,United-States,<=50K
18769,30,Federal-gov,76313,HS-grad,9,Married-civ-spouse,Armed-Forces,Other-relative,Amer-Indian-Eskimo,Male,0,0,48,United-States,<=50K
25799,46,Federal-gov,344415,Masters,14,Married-civ-spouse,Armed-Forces,Husband,White,Male,0,1887,40,United-States,>50K
32316,23,Federal-gov,173851,HS-grad,9,Never-married,Armed-Forces,Not-in-family,White,Male,0,0,8,United-States,<=50K